body {
	font-family: sans;
	text-align: left;
	
}

#main {
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	
	min-width: 700px;
	width: 75%;
}

#main:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#header {
	padding-bottom: 0.5em;
	position: relative;
	border-bottom: 1px solid #778899;
}

#header .signin-status {
	position: absolute;
	top: 0;
	right: 0;
}

#nav {
	float: left;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 8em;
}

#content {
	float: left;
	padding: 1em;
}


h1, h2, h3 {
	font-weight: bold;
}

h2 {
	font-size: 131%;
}

h3 {
	font-size: 93%;
}

pre {
	white-space: pre;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}




/************** Home auth *******************/
#message-actions li {
	display: inline;
}

#message-list li:first-child {
	border-top: 1px solid lightgray;
}

#message-list li {
	border-bottom: 1px solid lightgray;
}
