{% extends 'jelato/base.html' %}

{% block content %}

<h2>Hi {{ user.username }},</h2>
<h3>Messages</h3>
<form action='/' method="post">
	<ul id="message-actions">
		<li><input type="submit" value="Delete" /></li>
		<li><input type="submit" value="Hide" /></li>
	</ul>
	<ol id="message-list">
		{% for message in messages %}
		<li>
			<input type="checkbox" />
			<a href="/messages/{{ message.uuid }}">
			{% if message.is_read %}
				{{ message.summary }}
			{% else %}
				<strong>{{ message.summary }}</strong>
			{% endif %}
			</a>
		</li>
		{% endfor %}
	</ol>
</form>

<h3>Subscriptions</h3>
<ul>
	{% for post in subscription_posts %}
	<li><a href="{{ post.link }}">{{ post.summary }}</a> - {{ post.time_sent }}</li>
	{% endfor %}
</ul>
{% endblock %}
