{% extends 'jelato/base.html' %}

{% block content %}
{% if is_public %}
<h2>Send to Public</h2>
<a href="/send-message-private">Send to individuals instead</a>
{% else %}
<h2>Send to Individuals</h2>
<a href="/send-message-public">Send to public instead</a>
{% endif %}
<form action="/send-message-{% if is_public %}public{% else %}private{% endif %}/" method="post">
	<dl>
		{% if not is_public %}
		<dt><label for="recipients_id">Recipients</label></dt>
		<dd><textarea name="recipients" rows="3" cols="70"></textarea></dd>
		{% endif %}
		<dt><label for="content_id">Message</label></dt>
		<dd><textarea id="content_id" name="content" rows="10" cols="70"></textarea></dd>
	</dl>
	<div><input type="submit" value="Send" /></div>
</form>
{% endblock %}
